.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Your custom CSS */
.custom-menu-item {
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  background: none; /* Remove background color */
  color: #000; /* Set the text color */
}

.custom-menu-item:hover {
  background: none; /* Remove hover background color */
  color: #1890ff; /* Set the hover text color */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
